body {
    font-family: 'Open Sans', sans-serif;
}

.wrap {
    width: 100%;
    margin: 25px auto;
    text-align: center;
}

nav.menu ul {
    overflow: hidden;
    color: #fff;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0 0 0;
    background: #023c5e;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
    -moz-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
    box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.55);
}

nav.menu ul li {
    margin: 0;
    float: left;
}

nav.menu ul a {
    padding: 25px;
    display: block;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.5s ease;
    text-decoration: none;
}

nav.menu ul a:hover {
    text-decoration: bold;
    background: #ffffff;
    color: #023c5e;
}

.isi {
    height: 700px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #023c5e;
    color: white;
    text-align: center;
}